<div id="loadingOverlay" class="position-fixed top-0 start-0 w-100 h-100 d-none
            d-flex align-items-center justify-content-center" style="background: rgba(0,0,0,0.25); z-index: 9999;">

    <div class="text-center">
        <div class="spinner-border text-light" style="width: 4rem; height: 4rem;">
        </div>
    </div>

</div>